
h1{
    text-align: center;
}


body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 95%;
  background-color: #f1f1f1;
  position: fixed;
  height: 0%;
  overflow: auto;
}

ul.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

ul.topnav a.active {
  background-color: #ce2395;
  color: rgb(255, 255, 255);
}

ul.topnav a:hover {
  background-color: #840d4c;
  color: rgb(0, 0, 0);
}

