
h1{
    text-align: center;
}


body {margin: 0;}

ul.topnav {
  text-align: center;
  margin: 0;
  padding: 10;
  width: 95%;
  background-color: #f1f1f1;
  position: fixed;
  height: 0%;
  overflow: auto;
}

ul.topnav li a {
  display: inline;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
}



