
h1{
    text-align: center;
}
h2{
    text-align: center;
    float: left;
}
p{
    text-align: left;
    float: left;
}
body {margin: 0;}

ul.topnav {
  margin: 0;
  padding: 0;
  background-color: #d6b2d0;
  position: fixed;
  overflow: hidden;
 

}

ul.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav a.active {
  background-color: #ce2395;
  color: rgb(255, 255, 255);
}

ul.topnav a:hover {
  background-color: #e00d7a;
  color: rgb(0, 0, 0);
}

